<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>转换后图片</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/my_panel.js"></script>
</head>

<style>
    body {
        background-image: url(../static/img/background.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center
    }
</style>

<body>
<h1 align="center" class="my_title">图像风格转换后的图片</h1>

<br>
<hr>
<div align="center">
    <img src="{{ style }}" width="350" height="350">
    <img src="{{ content }}" width="350" height="350">
    <img src="{{ transformed }}" width="350" height="350">
</div>
<hr>
<br>

<div align="center"><a class="btn btn-primary" href="/" style="font-size: large;text-decoration-line: none">返回</a></div>

<div align="center">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="ToolBar">
            <p>注意：</p>
            <p>1. 本站某些风格图片的模型训练还不够完全，并未达到最优（例如：udnie），后续会慢慢调整并引入更多的风格，见谅！</p>
            <p>2. 也有些图片本身就不太适合作为风格，本站也将这些图片引入了，可以作为对比（例如：obama_hope、obama_hope）。</p>
        </div>
    </nav>
</div>

</body>
</html>